vault {
  enabled     = true
  # ca_path     = "/etc/certs/ca"
  # cert_file   = "/var/certs/vault.crt"
  # key_file    = "/var/certs/vault.key"

  # Address to communicate with Vault. The below is the default address if
  # unspecified.
  address     = "http://vault.service.consul:8200"
}

