id           = "{{ volume_id }}"
name         = "{{ volume_name }}"
type         = "csi"
plugin_id    = "{{ plugin_id }}"

capacity_min = "{{ volume_min }}"
capacity_max = "{{ volume_max }}"

capability {
  access_mode     = "single-node-reader-only"
  attachment_mode = "file-system"
}

capability {
  access_mode     = "single-node-writer"
  attachment_mode = "file-system"
}

mount_options {
  fs_type     = "ext4"
  mount_flags = ["rw", "noatime"]
}